@model IEnumerable<Cinema.Web.Models.Movie>

@{
    ViewData["Title"] = "Főoldal";
}

<link rel="stylesheet" href="~/css/homepage.css"/>

<div class="cont" >
    @for (var i = 0; i < 5; i++)
    {
    
        <div class="bo">
            <a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.ElementAt(i).Id" class="bo">
                <img src="@Url.Action("DisplayImage", "Movies", new { id = Model.ElementAt(i).Id })" />
                <span>@Model.ElementAt(i).Title</span>
            </a>
        </div>
    }
</div>