@model IEnumerable<Cinema.Web.Models.Screening>

@{
    ViewData["Title"] = "Vetítések";
}

<style>
    body {
        background-color: black;
        color: white;
    }

    .table {
        color: white;
    }
</style>

<h1>Vetítések</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Film
            </th>
            <th>
                Kezdési időpont
            </th>
            <th>
                Terem
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Name)
            </td>
            <td>
                <a asp-action="Reserve" asp-route-id="@item.Id">Foglalás</a>
            </td>
        </tr>
}
    </tbody>
</table>
