body {
    background-color: black;
    color: white;
}

.movie_card {
    width: 100%;
}

.movie_container {
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
}

.movie_poster {
    position: absolute;
    margin-top: 150px;
    z-index: 2;
    left: 40px;
    width: 20%;
}

.movie_hero {
    height: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .movie_hero::before {
        content: '';
        width: 100%;
        height: 50vh;
        position: absolute;
        overflow: hidden;
        z-index: -1;
    }

    .movie_details > .movie_title {
        font-size: 60px;
        margin-bottom: 13px;
        position: relative;
    }

.movie_description {
    bottom: 0px;
    height: 200px;
    font-size: 16px;
    line-height: 26px;
}

    .movie_description > .movie_col2 {
        padding-left: 300px;
        padding-top: 50px;
        width: 100%;
        float: left;
    }

dl {
    width: 100%;
    overflow: hidden;
}

dt {
    width: 20%;
    float: left;
}

dd {
    width: 80%;
    float: left;
}

.screenings_list {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 2px 0;
    padding-left: 20px;
}

    .screenings_list > li {
        width: 40%;
        color: black;
        background: white;
        border-radius: 0 10px 10px 10px;
        counter-increment: gradient-counter;
        padding: 8px 35px 8px 50px;
        margin-top: 45px;
        margin-bottom: 25px;
        min-height: 20px;
        position: relative;
    }

        .screenings_list > li::before {
            background: linear-gradient(135deg, #83e4e2 0%, #a2ed56 100%);
            border-radius: 20px 20px 0 20px;
            content: '';
            height: 45px;
            left: -1rem;
            overflow: hidden;
            position: absolute;
            top: -1rem;
            width: 3rem;
            align-items: flex-end;
            content: counter(gradient-counter);
            display: flex;
            font: 900 1.5em/1 Tahoma;
            justify-content: flex-end;
            padding: 9px 9px;
            z-index: 1;
        }

a, a:hover {
    color: black;
    text-decoration: none;
}

    .screenings_list a:hover {
        color: rgb(105, 105, 105);
    }

.screenings_list span {
    float: right;
}
