body {
    color: white;
    background-color: black;
}

.movie_list {
    width: 100%;
}

.movie_tr {
    height: 270px;
    width: 100%;
    background-position: center top;
}

.movie_td {
    width: 100%;
    font-size: 60px;
    padding-right: 50%;
    border-bottom: 5px solid darkred;
}

    .movie_td > p {
        font-size: 15px;
    }

    .movie_td > a:hover {
        text-decoration: none;
        color: dimgray;
    }

    .movie_td > a {
        text-decoration: none;
        color: white;
    }
